# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

env-config.js
# Logs
*.log

# Dependency directories
node_modules/

# Parcel (https://parceljs.org/)
# dist
.cache

# local files used for development
local.*
.vscode
.idea/
*.iml

dist
generated

# Avoid to commit env-config.js mods
env-config.js

coverage