
# Logs
*.log

# Dependency directories
node_modules/

# Parcel (https://parceljs.org/)
# dist
.cache

# local files used for development
local.*
.vscode
.idea/
*.iml

dist
generated

# Avoid to commit env-config.js mods
env-config.js
