# see https://help.github.com/en/articles/about-code-owners#example-of-a-codeowners-file

* @pagopa/io-app @pagopa/io-platform-green-unit

/infra/ @pagopa/io-app @pagopa/io-platform-green-unit @pagopa/engineering-team-devex
/.github/ @pagopa/io-app @pagopa/io-platform-green-unit @pagopa/engineering-team-devex
