.icon-rotate-45deg:before
{
    transform: rotate(45deg);
}

.cursor-pointer
{
    cursor: pointer;
}

.flex-1
{
    flex: 1;
}

.w-90
{
    width: 90%;
}
.h-80
{
    height: 80%;
}
.h-90
{
    height: 90%;
}

.close-button
{
    top: 7px;
    right: 10px;
}

.bg-custom-pale-blue {
    background-color: #9eC3ef !important;
}
.color-custom-denim-blue {
    color: #286bd1 !important;
}

.border-custom-grey {
    border-color: #d6d6d6 !important;
}

.text-decoration-none {
    text-decoration: none !important;
}

.text-word-break {
    word-break: break-word;
}

/* Table */
table.rounded {
    border-collapse: separate;
    border-spacing: 0 10px;
}
table.rounded td { 
    border: solid 1px #eef0f3; 
    border-right: none;
    border-left: none;
}
table.rounded td:first-child { 
    border-top-left-radius: 4px; 
    border-left: solid 1px #eef0f3; 
}
table.rounded td:last-child { 
    border-top-right-radius: 4px; 
    border-right: solid 1px #eef0f3; 
}

/* Accordion */
.collapse.p-0 .collapse-body,
.collapsing.p-0 .collapse-body {
    padding: 10px 0 0 0 !important;
}

/* react-datepicker */
.input-group-datepicker,
.input-group-datepicker > div,
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container > input,
.react-datepicker-ignore-onclickoutside
{
    display: flex;
    flex: 1;
}

.react-datepicker__current-month
{
    text-transform: capitalize;
}

.react-datepicker-time__header
{
    padding: 14px 0;
}

.react-datepicker__time-list
{
    padding: 0;
}
