# Azure DevOps pipeline template used to build bundle.
  
steps:
- bash: |
    echo 'IO_DEVELOPER_PORTAL_PORT: $IO_DEVELOPER_PORTAL_PORT'
    echo 'IO_DEVELOPER_PORTAL_BACKEND: $IO_DEVELOPER_PORTAL_BACKEND'
    echo 'IO_DEVELOPER_PORTAL_APIM_BASE_URL: $IO_DEVELOPER_PORTAL_APIM_BASE_URL'
    echo 'IO_DEVELOPER_PORTAL_BASE_URL: $IO_DEVELOPER_PORTAL_BASE_URL'
    echo 'IO_DEVELOPER_PORTAL_PUBLIC_PATH: $IO_DEVELOPER_PORTAL_PUBLIC_PATH'
    echo 'IO_DEVELOPER_PORTAL_LOGO_PATH: $IO_DEVELOPER_PORTAL_LOGO_PATH'
    chmod +x env.sh && source env.sh
    yarn build
  env:
    IO_DEVELOPER_PORTAL_PORT: $(IO_DEVELOPER_PORTAL_PORT)
    IO_DEVELOPER_PORTAL_BACKEND: $(IO_DEVELOPER_PORTAL_BACKEND)
    IO_DEVELOPER_PORTAL_APIM_BASE_URL: $(IO_DEVELOPER_PORTAL_APIM_BASE_URL)
    IO_DEVELOPER_PORTAL_BASE_URL: $(IO_DEVELOPER_PORTAL_BASE_URL)
    IO_DEVELOPER_PORTAL_PUBLIC_PATH: $(IO_DEVELOPER_PORTAL_PUBLIC_PATH)
    IO_DEVELOPER_PORTAL_LOGO_PATH: $(IO_DEVELOPER_PORTAL_LOGO_PATH)
  displayName: 'Build files'