.compose-import--recipient-upload, 
.compose-import--recipient-upload .btn {
    font-size: 90% !important;
}

.compose-import--rows-icons {
    display: flex;
    justify-content: space-evenly;
    min-height: 65px;
}