.header-selfcare {
  display: flex;
  align-items: center;
  height: 48px;
}

.header-selfcare-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.header-selfcare-title {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.header-app-title {
  font-weight: 700 !important;
  -webkit-font-smoothing: antialiased !important;
  font-size: 28px !important;
  color: var(--dark) !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.header-selfcare-button {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: var(--blue);
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-font-smoothing: antialiased;
}

.header-dropdown-menu {
  margin-top: 0 !important;
  transform: translate3d(25px, 50px, 0px) !important;
}

.header-dropdown-menu::before {
  display: none !important;
}

.header-dropdown-list-item {
  font-weight: 500 !important;
  -webkit-font-smoothing: antialiased !important;
  font-size: 16px !important;
}

.header-dropdown-list-item:hover {
  background-color: #0073E614;
  color: var(--blue) !important;
}