.header-selfcare {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

.header-selfcare-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-selfcare-title {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}