.api-key {
  background: rgba(207, 220, 230, 0.4);
  border-radius: 6px;
  margin-top: 0px;
  font-size: 16px;
}

.api-key--info {
  margin-left: 4px;
  vertical-align: text-bottom;
}

.pointer {
  cursor: pointer;
}